:root{
    --ff-family: "Inter", serif;

    /* text */
    --tx-lg: 700 1.8rem/120% var(--ff-family);
    --tx-md: 400 1.5rem/130% var(--ff-family);
    --tx-sm: 400 1rem/125% var(--ff-family);
    --tx-a: 700 1rem/125% var(--ff-family);

    --red-color:#e60012;
    --links-color: #484848;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.align-items{
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--links-color);
}
a:hover{
    color: var(--red-color);
}
i{
    padding-right: .25rem;
}